ipython==7.29.0
keras==2.7.0
librosa==0.8.1
matplotlib==3.5.0
noisereduce==2.0.0
numpy==1.18.1
pandas==0.24.2
plotly==5.4.0
scikit_learn==1.0.1
seaborn==0.10.0
sounddevice==0.4.3
streamlit==1.2.0
tensorflow==2.7.0
wavio==0.0.4
PyAudio
